@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root {
  --palette-dark: #111d29;
  --palette-primary: #6b8697;
  --palette-secondary: #09B3E4;
  --palette-border: #1a1a1a;
  --palette-accent: #007bff;
  --palette-card-bg: rgba(17, 25, 40, 0.75);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
}
body {
  background-color:var(--palette-dark);
}
/* Custom Font taken from codepen */
@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

/* Common styles */
.flex-container {
  display: flex;
  align-items: center;
}
/* Scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var( --palette-primary); 
}
::-webkit-scrollbar-thumb {
  background: #6B8697;
  background: var(--palette-dark);
  border-radius: 10px;
}
/* dialog box  */
dialog {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--palette-dark);
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

dialog h1 {
  margin-top: 0;
}
dialog button {
  background-color: var(--palette-accent);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Style for the dialog close button on hover */
dialog button:hover {
  background-color: var(--palette-dark);
}
dialog div a img{
  height: 35px;

}
dialog div a{
  margin: 10px;
}
/* video section styling in video dialog */
#videos div{
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#videos iframe{
margin: 15px 20px 20px 10px;
}
#videos img{
  height: 20px;
  width: 90px;
  margin-left: 10px;
}
#videos div a img{
height: 35px;

}
#videos div a{
margin: 10px;
}
/* Navigation css */
.nav {
  width: 100%;
  font-size:15px;
  position: fixed;
  padding: 6px 10px;
  justify-content: space-between;
  background-color: var(--palette-primary);
}

.link {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  margin: 8px 8px;
}
.nav div {
  margin-right: 0.8%;
}
.nav div a{
  font-family: 'Rocher';
}
/* button style */
.button a{
  text-decoration: none;
  font-family: 'Rocher';
}
.button{
    padding: 5px 18px;
    font-family: 'Rocher';
    font-weight: 600;
    background: var(--palette-secondary);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

/* section one styling */
.section-1 {
  background: url("assets/images/background.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
  
}
.section-1 div h1 span {
  font-family: Rocher;
}
.section-1 div h1 {
  font-size: 8vw;
}
/* Section 2 styling (articles section) */
.section-2{
  height: fit-content;
  padding: 20px 10px;
  flex-direction: column;
  overflow: auto;
  gap:20px;
}
.section-2>h1{
  font-family: 'Rocher';
}
.section-2 .art{
  flex-direction: row;
  justify-content: space-evenly;
}
.section-2 .art>div{
  width: 80%;
}

/* Media Query */
@media only screen and (max-width: 700px) {

  .section-2{
    text-align: center;
  }  
  .section-2>div{
    margin:10px;
  }
  .section-2>div>div>h1{
    font-size: 1.5em;
  }
  .section-2>div>div>p{
    font-size: 0.8em;
  }
  .section-2 .art{
      flex-direction: column;
    }
}
@media only screen and (max-width: 360px){
  .nav>img{
    display: none;
  }
  .nav div{
   margin:auto;
  }
}

@media only screen and (max-width: 1060px){
  #videos{
    height: 80vh;
    width: fit-content;
    margin:20px;
  }
  .section-1 div h1{
    font-size: 2.5em;
  }
  .nav div{
    margin-right: 5%;
  }
  
  .section-1{
    height: 80vh;
   background: linear-gradient(140deg, rgba(48,35,174,1) 0%, rgba(255,0,153,1) 100%);;
  }
 
}